@model List<GameTrade.Models.ApplicationUser>

<h1>Welcome to GameTrade</h1>

<h3>Search by:</h3>

<a href="/Search/ByUser">User</a><br />
<a href="/Search/ByTitle">Title</a><br />
<a href="/Search/ByPlatform">Platform</a>


        
    

