@model List<GameTrade.Models.ApplicationUser>

@{
    ViewData["Title"] = "Home";
}

<h1>Welcome to GameTrade</h1>

<h3>Search by:</h3>


<div class="btn-group btn-group-justified">
    <a href="/Search/ByUser" class="btn btn-primary">User</a>
    <a href="/Search/ByTitle" class="btn btn-primary">Title</a>
    <a href="/Search/ByPlatform" class="btn btn-primary">Platform</a>
</div>


        
    

