@model List<GameTrade.Models.ApplicationUser>

<h1>Welcome to GameTrade</h1>

<h3>List of Users</h3>
<h5>Click on a User to view their list</h5>

<table class="table-bordered">

    @foreach (var user in Model)

    {
        <tr>
        <td><a href="/List/@user.Id">@user.UserName</a></td>
        </tr>
    }
</table>
