@model GameTrade.ViewModels.AddGameViewModel

<div class="form-group">
    <label asp-for="ConditionId" class="col-lg-2"></label>
    <div class="col-lg-10">
        <select asp-for="ConditionId" class="form-control"
                asp-items="@Model.Conditions"></select>
    </div>
</div>

<div class="form-group">
    <label asp-for="DesignationId" class="col-lg-2"></label>
    <div class="col-lg-10">
        <select asp-for="DesignationId" class="form-control"
                asp-items="@Model.Designations" ></select>
    </div>
</div>

<div class="form-group">
    <label asp-for="GenreId" class="col-lg-2"></label>
    <div class="col-lg-10">
        <select asp-for="GenreId" class="form-control"
                asp-items="@(new SelectList(ViewBag.Genres, "Id", "Name"))"></select>
    </div>
</div>

<div class="form-group">
    <label asp-for="Value" class="col-lg-2"></label>
    <div class="col-lg-10">
        <input class="form-control" asp-for="Value" />
        <span asp-validation-for="Value"></span>
    </div>
</div>

<div class="form-group">
     <label asp-for="Description" class="col-lg-2"></label>
      <div class="col-lg-10">
        <textarea class="form-control" rows="3"></textarea>
      </div>
</div>
