@model GameTrade.ViewModels.AddGameViewModel
@{
    ViewData["Title"] = "Add Game";
}


<form asp-controller="List" asp-action="Add" method="post" class="form-horizontal">
    <fieldset>
        <legend>Add Game</legend>

        @{Html.RenderPartial("_FormPartial1");}

        @{Html.RenderPartial("_FormPartial2");

        Html.RenderPartial("_UserIdPartial");           
        }
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <input type="submit" class="btn btn-primary" value="Add Game" />
            </div>
        </div>
    </fieldset>
</form>


