@model GameTrade.ViewModels.EditGameViewModel
@{
    ViewData["Title"] = "Edit Game";
}
<form asp-controller="List" asp-action="Edit" method="post">

    @{Html.RenderPartial("_AddEditFormPartial");
    }

    <input type="hidden" name="GameId" value="@Model.Game.GameId" />

    <input type="submit" value="Submit Edits"/>
</form>
