@model GameTrade.ViewModels.LookupByTitleViewModel

@{
    ViewData["Title"] = "Look Up Game";
}
<br>
<form asp-controller="List" method="post">
    
    @{if (Model.Games == null || Model.Games.Count() == 0)
        {
            Html.RenderPartial("_LookupPartial1.cshtml");
        }
        if (Model.Games != null && Model.Games.Count() == 0)
        {
            <br />
            <br />
            <div>@ViewBag.ErrorMessage</div>
            }
            if (Model.Games != null && Model.Games.Count() != 0)
            {
                Html.RenderPartial("_LookupPartial0.cshtml");
            }
        }

</form>