@model GameTrade.ViewModels.LookupByTitleViewModel

@{
    ViewData["Title"] = "Look Up Game";
}
<br>
<form asp-controller="List" method="post" class="form-horizontal">
    
    @{if (Model.Games == null && Model.GameId == 0)
        {
            Html.RenderPartial("_LookupPartial1.cshtml");
        }
        if (Model.Games == null && Model.Title != null && Model.GameId == 0)
        {
            <br />
            <br />
            <div>@ViewBag.ErrorMessage</div>
        }
        if (Model.Games != null && Model.Games.Count() != 0)
        {
            Html.RenderPartial("_LookupPartial0.cshtml");

        }

        if (Model.GameId != 0)
        {
            <div class="form-group">
                <label asp-for="Title" class="col-lg-2"></label>
                <div class="col-lg-10">
                    <input class="form-control" asp-for="Title" />
                    
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Platform" class="col-lg-2"></label>
                <div class="col-lg-10">
                    <input class="form-control" asp-for="Platform" />
                  
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Year" class="col-lg-2"></label>
                <div class="col-lg-10">
                    <input class="form-control" asp-for="Year" />
                 
                </div>
            </div>

            Html.RenderPartial("_UserIdPartial");

        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2 btn-group">
                <input type="submit" value="Search Again" class="btn btn-success col-lg-2" asp-action="LookupByTitle" />
                <input type="submit" value="Add Game" class="btn btn-success col-lg-2" asp-action="Add" />
            </div>
        </div>

        }
    }

</form>