@model GameTrade.ViewModels.LookupByTitleViewModel

@{
    ViewData["Title"] = "Look Up Game";
}
<br>
<form asp-controller="List" method="post" class="form-horizontal">
    
    @{if (Model.Games == null && Model.Title != null && Model.GameId == 0)
        {
           
            <div>@ViewBag.TitleErrorMessage</div>
        }

        if (Model.QueryTooLong == true)
        {
            <div>@ViewBag.QueryLengthErrorMessage</div>
            <br />
            <br />
            
            <div class="form-group">
                <label asp-for="PlatformName" class="col-lg-2"></label>
                <div class="col-lg-10">
                    <select asp-for="PlatformName" class="form-control"
                            asp-items="@Model.Platforms"></select>
                </div>
            </div>
           
        }

        if (Model.Games == null && Model.GameId == 0)
        {
            Html.RenderPartial("_LookupPartial1.cshtml");
            
        }

        if (Model.Games != null && Model.Games.Count() != 0)
        {
            Html.RenderPartial("_LookupPartial0.cshtml");
            

        }

        if (Model.GameId != 0)
        {
            Html.RenderPartial("_FormPartial3");

        }
    }

</form>