@model GameTrade.ViewModels.LookupByTitleViewModel

@{
    ViewData["Title"] = "Look Up Game";
}
<br>
<form asp-controller="List" method="post">

    <div class="form-group">
        <label asp-for="Title"></label>
        <input class="form-control" asp-for="Title" />
        <span asp-validation-for="Title"></span>
    </div>
    
    @{if (Model.Games != null)
        {
    <input type="submit" class="btn btn-success" value="Search Again" asp-action="LookupByTitle" />
    <br>
    <br >
    <div class="form-group">
        <label asp-for="GameId"></label><br />
        <select asp-for="GameId" asp-items="@Model.Games"></select>
    </div>

        } }

    <input type="hidden" name="UserId" value="@Model.UserId"/> 
    
    
    @{if (Model.Games == null)
        {
    <input type="submit" class="btn btn-success" value="Search" asp-action="LookupByTitle"/>
        } }

@{if (Model.Games != null)
    {
        
        <input type="submit" class="btn btn-success" value="Select Game" asp-action="LookedupGame" />
        }
    }
</form>