@model GameTrade.ViewModels.LookupByTitleViewModel

<form asp-controller="List" method="post">

    <div class="form-group">
        <label asp-for="Title"></label>
        <input class="form-control" asp-for="Title" />
        <span asp-validation-for="Title"></span>
    </div>

    <input type="hidden" name="UserId" value="@Model.UserId"/> 
    
    <input type="submit" value="Search" asp-action="LookedupGame"/>
    
</form>