@model GameTrade.ViewModels.SearchByViewModel

<h1>Search By Platform</h1>
<h3>Please select a platform to view all games for that platform</h3>

<form asp-controller="Search" asp-action="ByPlatform" method="post">
    
    <div class="form-group">
        <label asp-for="PlatformId" class="col-lg-2 control-label"></label><br />
        <div class="col-lg-10">
            <select asp-for="PlatformId" class="form-control"
                    asp-items="@(new SelectList(ViewBag.Platforms, "Id", "Name"))"></select>
        </div>
    </div>
    
    <div class="form-group">
        
            <input type="submit" class="btn btn-primary" value="Search" />
        
    </div>
</form>