@model List<GameTrade.Models.ApplicationUser>
@{
    ViewData["Title"] = "Search By User";
}
<h1>Search by User</h1>
<h5>Please click on a User to return their list of games</h5>

<table class="table table-striped">
    <tr>
        <th>UserName</th>
        <th>Number of Games</th>
        <th>View</th>
    </tr>

    @{foreach (var user in Model)
        {
        <tr>
         <td>@user.UserName</td>
         <td>//TODO: to be filled with attributes</td>
         <td><a href="/List/UserList?userId=@user.Id" class="btn btn-success col-lg-offset-4 col-md-4"
                >View User</a></td>
         
         
    </tr>

            }
        }
</table>